<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481721133766-vphkfcfgjmmhq021ilpgpm8g2c79h5rg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481721133766-vphkfcfgjmmhq021ilpgpm8g2c79h5rg</string>
	<key>API_KEY</key>
	<string>AIzaSyDZjnbTEiDKVrAjZIeP_8c57ANcX3lCHzY</string>
	<key>GCM_SENDER_ID</key>
	<string>481721133766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>project-2947908339260205992</string>
	<key>STORAGE_BUCKET</key>
	<string>project-2947908339260205992.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481721133766:ios:27d27393703e69cd4205c7</string>
	<key>DATABASE_URL</key>
	<string>https://project-2947908339260205992.firebaseio.com</string>
</dict>
</plist>